MONGODB_URL=mongodb://admin:admin123@localhost:27017/glam_ai?authSource=admin
MONGODB_DB=glam_ai
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-email@firebase.iam.gserviceaccount.com
DEBUG=True
